<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL_DAL.Properties.Settings.QuanLyThuVienCNTPConnectionString"
            connectionString="Data Source=LAPTOP-RDLUFLH4\SQLEXPRESS;Initial Catalog=QuanLyThuVienCNTP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QuanLyThuVienCNTPConnectionString1"
            connectionString="Data Source=DESKTOP-F6GMAH7\SQLEXPRESS;Initial Catalog=QuanLyThuVienCNTP;User ID=sa;Password=024453854"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QuanLyThuVienCNTPConnectionString2"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=QuanLyThuVienCNTP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QuanLyThuVienCNTP2ConnectionString"
            connectionString="Data Source=DESKTOP-F6GMAH7\SQLEXPRESS;Initial Catalog=QuanLyThuVienCNTP2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QuanLyThuVienCNTPConnectionString3"
            connectionString="Data Source=DESKTOP-F6GMAH7\SQLEXPRESS;Initial Catalog=QuanLyThuVienCNTP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QuanLyThuVienCNTP2ConnectionString1"
            connectionString="Data Source=LAPTOP-RDLUFLH4\SQLEXPRESS;Initial Catalog=QuanLyThuVienCNTP2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>