
body .wrapper-changepassword {
    width: 100vw;
    height: 100vh;
    background-color: #207fff;
    position: relative;
}

    body .wrapper-changepassword .changepassword {
        position: absolute;
        width: 700px;
        height: 400px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        background-color: white;
        border-radius: 10px;
    }

        body .wrapper-changepassword .changepassword .form__changepassword {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

            body .wrapper-changepassword .changepassword .form__changepassword .left {
                padding: 20px;
                width: 30%;
                position: relative;
                border-right: thin solid rgba(0, 0, 0, 0.15);
            }

                body .wrapper-changepassword .changepassword .form__changepassword .left .img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    display: block;
                }

                    body .wrapper-changepassword .changepassword .form__changepassword .left .img img {
                        width: 100%;
                        -o-object-fit: cover;
                        object-fit: cover;
                        -webkit-transition: .4s;
                        transition: .4s;
                        cursor: pointer;
                        border-radius: 50%;
                    }

                    body .wrapper-changepassword .changepassword .form__changepassword .left .img:hover img {
                        -webkit-transform: scale(1.2);
                        transform: scale(1.2);
                    }

            body .wrapper-changepassword .changepassword .form__changepassword .right {
                width: 70%;
                height: 100%;
            }

                body .wrapper-changepassword .changepassword .form__changepassword .right .title {
                    width: 100%;
                    margin: 60px auto 20px auto;
                }

                    body .wrapper-changepassword .changepassword .form__changepassword .right .title h2 {
                        font-family: 'roregular';
                        font-weight: bold;
                        font-size: 28px;
                        background: -webkit-gradient(linear, left top, left bottom, from(red), to(#f8920c));
                        background: linear-gradient(red, #f8920c);
                        text-align: center;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        letter-spacing: 0.05em;
                    }

                body .wrapper-changepassword .changepassword .form__changepassword .right .form__wrapper {
                    width: 100%;
                    position: relative;
                    height: auto;
                }

                    body .wrapper-changepassword .changepassword .form__changepassword .right .form__wrapper .form {
                        position: absolute;
                        margin-top: 90px;
                        width: 80%;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        padding: 0 30px 0 30px;
                    }

                        body .wrapper-changepassword .changepassword .form__changepassword .right .form__wrapper .form .row {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            height: 30px;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            -webkit-box-pack: justify;
                            -ms-flex-pack: justify;
                            justify-content: space-between;
                            margin: 15px 0 15px 0;
                        }

                            body .wrapper-changepassword .changepassword .form__changepassword .right .form__wrapper .form .row.msg {
                                margin-top: 10px;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                font-size: 17px;
                                color: red;
                                font-family: 'roregular';
                                -webkit-box-pack: center;
                                -ms-flex-pack: center;
                                justify-content: center;
                            }

                            body .wrapper-changepassword .changepassword .form__changepassword .right .form__wrapper .form .row:nth-child(1) {
                                margin-top: 75px;
                            }

                            body .wrapper-changepassword .changepassword .form__changepassword .right .form__wrapper .form .row label {
                                margin-top: 6px;
                                margin-right: 15px;
                                color: #0652a0;
                                font-family: 'romedium';
                                font-size: 17px;
                            }

                            body .wrapper-changepassword .changepassword .form__changepassword .right .form__wrapper .form .row input {
                                height: 15px;
                                border: none;
                                border-bottom: solid 1px rgba(0, 0, 0, 0.6);
                                outline: none;
                                -webkit-transition: 0.2s;
                                transition: 0.2s;
                            }

                                body .wrapper-changepassword .changepassword .form__changepassword .right .form__wrapper .form .row input:focus {
                                    border-bottom: solid 1px #528dd5;
                                }

                            body .wrapper-changepassword .changepassword .form__changepassword .right .form__wrapper .form .row.submit {
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-pack: center;
                                -ms-flex-pack: center;
                                justify-content: center;
                                margin-top: 30px;
                            }

                                body .wrapper-changepassword .changepassword .form__changepassword .right .form__wrapper .form .row.submit .submitButton {
                                    cursor: pointer;
                                    overflow: hidden;
                                    width: 150px;
                                    height: 35px;
                                    background-color: #528dd5;
                                    color: white;
                                    font-family: 'romedium';
                                    font-size: 15px;
                                    border: none;
                                    border-radius: 8px;
                                    position: relative;
                                    -webkit-transition: 0.5s;
                                    transition: 0.5s;
                                }

                                    body .wrapper-changepassword .changepassword .form__changepassword .right .form__wrapper .form .row.submit .submitButton::after {
                                        position: absolute;
                                        display: block;
                                        width: 100px;
                                        height: 100%;
                                        content: "";
                                        background-color: rgba(255, 255, 255, 0.4);
                                        top: 0;
                                        left: -100%;
                                        -webkit-transition: 0.5s;
                                        transition: 0.5s;
                                    }

                                    body .wrapper-changepassword .changepassword .form__changepassword .right .form__wrapper .form .row.submit .submitButton:hover {
                                        background-color: #fff;
                                        color: red;
                                        border: 1px solid red;
                                    }

                                        body .wrapper-changepassword .changepassword .form__changepassword .right .form__wrapper .form .row.submit .submitButton:hover::after {
                                            left: 100%;
                                        }

                            body .wrapper-changepassword .changepassword .form__changepassword .right .form__wrapper .form .row.forget {
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-pack: center;
                                -ms-flex-pack: center;
                                justify-content: center;
                            }

                                body .wrapper-changepassword .changepassword .form__changepassword .right .form__wrapper .form .row.forget .forgetPassword {
                                    text-decoration: none;
                                }

                                    body .wrapper-changepassword .changepassword .form__changepassword .right .form__wrapper .form .row.forget .forgetPassword span {
                                        font-family: 'romedium';
                                        font-style: italic;
                                        font-size: 13px;
                                        color: #0652a0;
                                        text-decoration: underline;
                                    }
