
            <div class="slider">
                <div class="container">
                    <div class="slider__item">
                        <img src="~/Content/img/slider1.jpg" alt="">
                    </div>
                    <div class="slider__item">
                        <img src="~/Content/img/slider2.jpg" alt="">
                    </div>
                    <div class="slider__item">
                        <img src="~/Content/img/slider3.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="selection">
                <div class="container">
                    <div class="wrap">
                        <div class="selection__item">
                            <i><img src="~/Content/img/lightbulb.svg" alt=""></i>
                            <a href="#">NỘI QUY THƯ VIỆN</a>
                        </div>
                        <div class="selection__item">
                            <i><img src="~/Content/img/account.svg" alt=""></i>
                            <a href="#">TÂN SINH VIÊN</a>
                        </div>
                        <div class="selection__item">
                            <i><img src="~/Content/img/opentime.svg" alt=""></i>
                            <a href="#">GIỜ HOẠT ĐỘNG</a>
                        </div>
                        <div class="selection__item">
                            <i><img src="~/Content/img/lienhe.svg" alt=""></i>
                            <a href="@Url.Action("TimKiem","Home")">TÌM KIẾM TÀI LIỆU</a>
                        </div>
                        <div class="selection__item">
                            <i><img src="~/Content/img/chat.svg" alt=""></i>
                            <a href="#">HỎI ĐÁP</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tailieumoi">
                <div class="container">
                    <div class="title">
                        <div class="line"></div>
                        <h2>Sách mới</h2>
                    </div>
                    <div class="listbox">
                        <div class="box">
                            <div class="img">
                                <img src="~/Content/img/sachmoi1.jpg" alt="">
                                <div class="link">
                                    <div class="button">
                                        <a href="#">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="textbox">
                                <a class="title">Lịch sử loài người</a>

                            </div>
                        </div>
                        <div class="box">
                            <div class="img">
                                <img src="~/Content/img/sachmoi2.jpg" alt="">
                                <div class="link">
                                    <div class="button">
                                        <a href="#">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="textbox">
                                <a class="title">Muôn kiếp nhân sinh</a>

                            </div>
                        </div>
                        <div class="box">
                            <div class="img">
                                <img src="~/Content/img/sachmoi3.jpg" alt="">
                                <div class="link">
                                    <div class="button">
                                        <a href="#">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="textbox">
                                <a class="title">Lịch sử loài người</a>

                            </div>
                        </div>
                        <div class="box">
                            <div class="img">
                                <img src="~/Content/img/sachmoi1.jpg" alt="">
                                <div class="link">
                                    <div class="button">
                                        <a href="#">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="textbox">
                                <a href="#" class="title">Lịch sử loài người</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tintucvathongbao">
                <div class="container">
                    <div class="tintuc">
                        <div class="tintuc__title">
                            <div class="left">
                                <div class="line"></div>
                                <h2>Tin tức</h2>
                            </div>
                            <div class="right">
                                <a class="prev"><img src="~/Content/img/left-arrow.svg" alt=""></a>
                                <a class="next"><img src="~/Content/img/right-arrow.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="tintuc__content">
                            <div class="logo">
                                <img src="~/Content/img/news2.jpg" alt="">
                            </div>
                            <div class="textbox">
                                <h3>Giải thưởng dành cho nhà vô địch cuộc thi “Best University Library” – HUFI Library</h3>
                            </div>
                        </div>
                    </div>
                    <div class="thongbao">
                        <div class="thongbao__title">
                            <div class="left">
                                <div class="line"></div>
                                <h2>Thông báo</h2>
                            </div>
                            <div class="right">
                                <a class="prev"><img src="~/Content/img/left-arrow.svg" alt=""></a>
                                <a class="next"><img src="~/Content/img/right-arrow.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="thongbao__content">
                            <div class="logo">
                                <img src="~/Content/img/news2.jpg" alt="">
                            </div>
                            <div class="textbox">
                                <h3>Giải thưởng dành cho nhà vô địch cuộc thi “Best University Library” – HUFI Library</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

 